* {
    margin: 0;
    padding: 0;
    font-family: 'Oswald', sans-serif;
    box-sizing: border-box;
}

/* BODY FONT */

.body-all {
    font-size: 18px;
}

/* Modificaciones para TODOS los Header del proyecto (Bootstrap) */
.header-all {
    background-color: #333333;
    height: 100px;
    width: 100%;
    position: sticky;
    top: 0;
}

nav {
    height: 100px;
}

.logo {
    width: 100%;
    height: 100%;
}

.image-logo {
    height: 69px;

}

.container-fluid .navbar-brand {
    color: #fff;
}

.navbar-toggler-icon {
    filter: invert();
}

.container-fluid .nav-link {
    color: #fff;
}

.nav-item .nav-link {
    margin: 0 10px;
    transition: all 300ms ease;
    font-size: 1.2rem;
}

.nav-item .nav-link:hover {
    color: #5190d4;
    padding: 5px;
}

/* Modificadores del INDEX */

body {
    background-color: white;
}

main {
    background-color: white;
}

.video {
    width: 100%;
}

/* Propiedades del H1 (invisible) */
.h1-1 {
    text-align: center;
    text-decoration: underline;
    text-decoration-thickness: 4px;
    font-size: 75px;
    padding: auto;
    color: antiquewhite;
    text-shadow: 4px 3px black;
    display: none;
}

/* Propiedades del Subtitulo */

.prueba {
    text-align: center;
    padding: 15px;
    color: black;
    text-shadow: 2px 2px #41BBD9;
    text-decoration: underline;
    font-size: 3rem;
}

.logotipo {
    height: 100%;
    width: 100%;
}

/* Propiedades del primer articulo */

.article1 {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    margin-top: 30px;
}

.subtitle {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-shadow: 2px 3px #333333;
    background-color: #41BBD9;
    height: 110px;
    width: 170px;
    text-align: center;
    text-transform: uppercase;
}

.pContainer {
    width: 70vw;
    border-right: 3px solid #41BBD9;
    border-bottom: 3px solid #41BBD9;
    border-radius: 15px;
    padding: 15px;
}

/* Propiedades del segundo articulo */

.section-container {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    margin-top: 80px;
}

.subtitle-container {
    display: flex;
    align-items: center;
    justify-content: end;
    color: white;
    text-shadow: 2px 3px #333333;
    background-color: #41BBD9;
    height: 110px;
    width: 175px;
    text-align: center;
    text-transform: uppercase;
    margin-right: 30px;
}

.parrafoContainer {
    width: 70vw;
    border-left: 3px solid #41BBD9;
    border-bottom: 3px solid #41BBD9;
    border-radius: 15px;
    padding: 15px;
    height: 200%;
    width: 80%;
}

.p-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

/* Propiedades de las imagenes del segundo articulo */

.coronel-mayor {
    justify-content: space-around;
}

.coronelMayor {
    width: 90px;
    height: 40px;
    margin-left: 10px;
    float: left;
    margin-right: 10px;
}

/* Propiedades de la tabla */

.table1 {
    margin-top: 30px;
    text-decoration: underline #41BBD9;
    text-align: center;
    position: static;
    font-size: 40px;
}

.heading4 {
    font-size: 22px;
    margin-top: 10px;
    text-align: center;
}

.theTable {
    border: 1px solid black;
    border-collapse: collapse;
    width: 90%;
    height: 300px;
    text-align: center;
    margin-top: 20px;
    margin-left: 120px;
}

.theTable th {
    border: 1px solid black;
    padding: 10px;
}

.theTable td {
    border: 1px solid black;
    padding: 10px;
}

.theTable td:hover {
    background: #313638;
    color: #D3D4D9;
}

.theTable tr:hover {
    background: #D3D4D9;
}

/* Propiedades del tercer articulo */

.article2 {
    margin-top: 70px;
}

.h51 {
    display: flex;
    justify-content: space-around;
    text-align: center;
    background-color: #41BBD9;
    color: white;
    text-transform: uppercase;
    font-size: 1.3rem;
}

.h61 {
    margin-top: 20px;
    justify-content: center;
    display: flex;
    color: #333333;
    text-shadow: 2px 3px #41BBD9;
    text-decoration: underline;
    font-size: 1.7rem;
}

/* Propiedades de la imagen del tercer articulo (Probable carrousel) */

.imgVet {
    height: 80%;
    width: 100%;
    display: flex;
    margin-top: 30px;
    margin-bottom: 20px;
}

.imgVeterans {
    border-radius: 10px;
    width: 100%;
}











































/* Propiedades de todos los FOOTER */

footer {
    background: #333333;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    height: 100%;
    width: 100%;
}

footer a {
    text-decoration: none;
}

footer p {
    margin: 0;
    color: #D3D4D9;
    padding: 2px;
}

  /* Iconos del footer */
footer .photos ul {
    list-style: none;
    margin: 0;
}
footer .photos a {
    margin: 0 10px;
    text-decoration: none;
}
footer .photos li {
    padding: 1.3px;
}







/* VETERANOS */

.background-image {
    background-image: url(https://www.argentina.gob.ar/sites/default/files/2022/03/portadas_facebook-19.png);
    display: flex;
    justify-content: center;
    align-items: center;
}

.h1-2 {
    text-align: center;
    text-decoration: underline;
    text-decoration-thickness: 4px;
    font-size: 75px;
    padding: auto;
    color: white;
    text-shadow: 4px 3px black;
}

.back-image-center {
    align-items: center;
    vertical-align: middle;
}

.image-center{
    display: flex;
    margin-top: 10px;
    height: 100%;
    width: 100%;
}

.imagenMalvinas {
    align-items: center;
    display: flex;
    justify-content: center;
    margin-left: 28%;
}

.divMalvinas {
    margin-top: 20px;
    font-size: 1.5rem;
    width: 80%;
}

.parrafoMalvinas {
    margin-left: 29%;
}

.parrafoMalvinas2 {
    display:flex;
    justify-content: center;
    margin-left: 23%;
}

.parrafoMalvinas3 {
    margin-left: 25.5%;
    margin-bottom: 20px;
}





















/* MEDIA QUERIES */
@media (max-width: 1200px) {
    .prueba {
        font-size: 60px;
    }
}