@charset "UTF-8";
.header-all {
  background-color: #333333;
  height: 100px;
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 5;
}

nav {
  height: 100px;
}

.logo {
  width: 100%;
  height: 100%;
}

.image-logo {
  height: 69px;
}

.container-fluid .navbar-brand {
  color: #fff;
}
.container-fluid .nav-link {
  color: #fff;
}

.navbar-toggler-icon {
  filter: invert(0%);
}

.nav-item .nav-link {
  margin: 0 10px;
  transition: all 300ms ease;
  font-size: 1.2rem;
}
.nav-item .nav-link:hover {
  color: #5190d4;
  padding: 5px;
}

.navbar-nav {
  background-color: #333333;
}

.nav-link:hover {
  color: #5190d4;
  padding: 5px;
}

footer {
  background: #333333;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  height: 15vh;
  width: 100%;
  margin-top: 5px;
  justify-items: center;
  color: #D3D4D9;
}

.h4Container div:nth-child(1) {
  grid-column: 1/2;
  grid-row: 1/2;
}
.h4Container div:nth-child(2) {
  grid-column: 2/3;
  grid-row: 1/2;
}
.h4Container div:nth-child(3) {
  grid-column: 3/4;
  grid-row: 1/2;
}

.h4div {
  display: flex;
}

.p-margin {
  align-self: center;
}

p {
  margin: 0;
}

.copy {
  grid-column: 1/4;
  background-color: #525758;
  width: 100%;
  justify-self: center;
}
.copy p {
  text-align: center;
}

/* BODY FONT */
.body-all {
  font-size: 18px;
}

/* Modificadores del INDEX */
body {
  background-color: white;
}

main {
  background-color: white;
  min-height: 80vh;
}

.video {
  width: 100%;
}

.h1-1 {
  text-align: center;
  text-decoration: underline;
  text-decoration-thickness: 4px;
  font-size: 75px;
  padding: auto;
  color: antiquewhite;
  text-shadow: 4px 3px black;
  display: none;
}

.prueba {
  text-align: center;
  padding: 15px;
  color: black;
  text-shadow: 2px 2px #41BBD9;
  text-decoration: underline;
  font-size: 3rem;
}

.logotipo {
  height: 100%;
  width: 100%;
}

.article1 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
  margin-top: 30px;
}

.subtitle {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  text-shadow: 2px 3px #333333;
  background-color: #41BBD9;
  height: 110px;
  width: 170px;
  text-align: center;
  text-transform: uppercase;
}

.pContainer {
  width: 70vw;
  border-right: 3px solid #41BBD9;
  border-bottom: 3px solid #41BBD9;
  border-radius: 15px;
  padding: 15px;
}

.section-container {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  margin-top: 80px;
}

.subtitle-container {
  display: flex;
  align-items: center;
  justify-content: end;
  color: white;
  text-shadow: 2px 3px #333333;
  background-color: #41BBD9;
  height: 110px;
  width: 175px;
  text-align: center;
  text-transform: uppercase;
  margin-left: 35px;
}

.parrafoContainer {
  width: 70vw;
  border-left: 3px solid #41BBD9;
  border-bottom: 3px solid #41BBD9;
  border-radius: 15px;
  padding: 15px;
  height: 200%;
  width: 80%;
}

.p-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.coronel-mayor {
  justify-content: space-around;
}

.coronelMayor {
  width: 90px;
  height: 40px;
  margin-left: 10px;
  float: left;
  margin-right: 10px;
}

.table1 {
  margin-top: 30px;
  text-decoration: underline #41BBD9;
  text-align: center;
  position: static;
  font-size: 40px;
}

.heading4 {
  font-size: 22px;
  margin-top: 30px;
  text-align: center;
}

.table-Padding {
  padding: 20px;
}

.theTable {
  border: 1px solid black;
  border-collapse: collapse;
  width: 100%;
  height: 300px;
  text-align: center;
  margin-top: 20px;
}
.theTable th {
  border: 1px solid black;
  padding: 10px;
}
.theTable td {
  border: 1px solid black;
  padding: 10px;
}
.theTable td:hover {
  background: #313638;
  color: #D3D4D9;
}
.theTable tr:hover {
  background: #D3D4D9;
}

.article2 {
  margin-top: 70px;
}

.h51 {
  display: flex;
  justify-content: space-around;
  text-align: center;
  background-color: #41BBD9;
  color: white;
  text-transform: uppercase;
  font-size: 1.3rem;
}

.h61 {
  margin-top: 20px;
  justify-content: center;
  display: flex;
  color: #333333;
  text-shadow: 2px 3px #41BBD9;
  text-decoration: underline;
  font-size: 1.7rem;
}

.width-block {
  width: 100%;
  display: block;
}

.medidas-carousel {
  display: grid;
  grid-template-columns: 0.2fr 5fr 0.2fr;
  grid-template-rows: 0.2fr 10fr 0.2fr;
}

.carousel {
  grid-column: 2/3;
  grid-row: 2/3;
}

.tituloH6 {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.pContainer3 {
  width: 50vw;
  border-right: 3px solid #41BBD9;
  border-bottom: 3px solid #41BBD9;
  border-radius: 15px;
  padding: 15px;
  font-size: 25px;
}

.h1-3 {
  text-align: center;
  text-decoration: underline;
  text-decoration-thickness: 4px;
  font-size: 69px;
  padding: auto;
  color: #64c7ee;
  text-shadow: 2px 1px black;
}

.h2-2 {
  text-align: left;
  text-decoration: underline;
  text-decoration-thickness: 4px;
  font-size: 40px;
  padding: auto;
  color: #eaff2b;
  text-shadow: 2px 1px black;
  margin-left: 10px;
  margin-top: 20px;
}

.sectionRYP {
  display: flex;
  margin-top: 30px;
  margin-bottom: 24px;
}

.div-img-RYP {
  width: 100%;
  height: 100%;
}

.img-RYP {
  height: 45vh;
  border-radius: 4%;
  border: 2px solid black;
}

.article4 {
  display: flex;
  gap: 15px;
}

.articulo4 {
  margin-left: 10px;
}

.imgRyP {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.imagen-cambiotamaño {
  width: 70%;
  height: 50%;
}

.img-RyPp {
  height: 71vh;
  border-radius: 4%;
  margin-left: 15px;
  border: 2px solid black;
}

.h3-under {
  text-decoration: underline;
  text-decoration-thickness: 4px;
  color: #5db4ca;
  padding: auto;
}

.background-image {
  background-image: url(https://www.argentina.gob.ar/sites/default/files/2022/03/portadas_facebook-19.png);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 350px;
}

.mainVet {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section-mod {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.h1-2 {
  text-align: center;
  text-decoration: underline;
  text-decoration-thickness: 4px;
  font-size: 75px;
  padding: auto;
  color: white;
  text-shadow: 4px 3px black;
}

.back-image-center {
  align-items: center;
  vertical-align: middle;
  width: 60%;
}

.image-center {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  height: 100%;
  width: 100%;
}

.imagenMalvinas {
  align-items: center;
  display: flex;
  justify-content: center;
  width: 60%;
}

.divMalvinas {
  margin-top: 20px;
  font-size: 1.5rem;
  width: 100%;
}

.parrafoMalvinas {
  text-align: center;
}

.parrafoMalvinas2 {
  display: flex;
  justify-content: center;
  text-align: center;
}

.parrafoMalvinas3 {
  margin-top: 25px;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
}

.h2-5 {
  font-size: 23px;
  display: flex;
  justify-content: center;
  width: 100%;
  margin-bottom: 30px;
  margin-top: 15px;
}

.p-canciones1 {
  width: 80%;
  text-align: center;
}

.section-grid {
  width: 100%;
  height: 100%;
}

.article-grid-mod {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  font-size: 16px;
  padding: 10px;
  text-align: center;
}
.article-grid-mod div:nth-child(1) {
  grid-column: 1/2;
  grid-row: 1/2;
}
.article-grid-mod div:nth-child(2) {
  grid-column: 3/4;
  grid-row: 1/2;
}
.article-grid-mod div:nth-child(3) {
  grid-column: 2/3;
  grid-row: 2/3;
}
.article-grid-mod div:nth-child(4) {
  grid-column: 1/2;
  grid-row: 3/4;
  margin-bottom: 30px;
}
.article-grid-mod div:nth-child(5) {
  grid-column: 3/4;
  grid-row: 3/4;
}

.width-iframe {
  width: 80%;
}

.section-contact {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8%;
  margin: 30px;
}

.main-contact {
  display: grid;
  justify-content: center;
  align-items: center;
}

.formulario {
  border: 2px solid #333333;
  background-color: #82cce9;
  padding-left: 2%;
  font-size: 18px;
  width: 400px;
  color: black;
  border-radius: 3px;
}

.h2-4 {
  text-align: left;
  text-decoration: underline;
  text-decoration-thickness: 1px;
  font-size: 30px;
  text-align: center;
  color: #113a44;
}

.field {
  width: 380px;
  border-radius: 2px;
  margin-top: 8px;
  margin-bottom: 6px;
  outline: none;
}

.div-contact {
  display: flex;
  gap: 40px;
  justify-content: center;
}

.div2-contact {
  display: flex;
  justify-content: space-around;
  gap: 10px;
}

.button-div {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-bottom: 10px;
  border-radius: 2px;
}

.button-div-input {
  padding: 3px;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Oswald", sans-serif;
  box-sizing: border-box;
}

@media only screen and (max-width: 1200px) {
  .section-contact {
    flex-direction: column-reverse;
    gap: 30px;
  }
  .article22 {
    margin-right: 15px;
  }
  .parrafoContainer {
    margin-left: 10px;
  }
}
@media only screen and (max-width: 992px) {
  .width-iframe {
    width: 95%;
  }
  .background-image {
    display: flex;
    flex-wrap: wrap;
  }
  .h1-2 {
    font-size: 50px;
  }
  .prueba {
    font-size: 40px;
  }
  .section-container {
    flex-direction: column-reverse;
    margin-top: 40px;
  }
  .article1 {
    flex-direction: column;
    gap: 15px;
  }
  .pContainer {
    width: 92vh;
  }
}
@media only screen and (max-width: 768px) {
  .article-grid-mod {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(5, 1fr);
  }
  .article-grid-mod div:nth-child(1) {
    grid-column: 1/2;
    grid-row: 1/2;
  }
  .article-grid-mod div:nth-child(2) {
    grid-column: 1/2;
    grid-row: 2/3;
  }
  .article-grid-mod div:nth-child(3) {
    grid-column: 1/2;
    grid-row: 3/4;
  }
  .article-grid-mod div:nth-child(4) {
    grid-column: 1/2;
    grid-row: 4/5;
    margin-bottom: 40px;
  }
  .article-grid-mod div:nth-child(5) {
    grid-column: 1/2;
    grid-row: 5/6;
  }
  .h4div {
    height: 24px;
  }
  .h4-footer {
    font-size: 19px;
  }
  .p-margin {
    font-size: 14px;
  }
  .copy {
    font-size: 16px;
  }
  .mapa-iframe {
    width: 100%;
  }
  .mapa-ancho {
    width: 80%;
  }
  .article1 {
    gap: 30px;
    padding: 10px;
  }
  .parrafoMalvinas3 {
    padding: 10px;
  }
  .iframe-alto {
    height: 400px;
  }
  .pContainer {
    width: 80vh;
  }
}
@media only screen and (max-width: 668px) {
  .coronelMayor {
    display: none;
  }
  .pContainer {
    width: 60vh;
  }
}
@media only screen and (max-width: 576px) {
  .p-canciones1 {
    width: 90%;
    font-size: 20px;
  }
  footer {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    height: 35vh;
  }
  footer div:nth-child(1) {
    grid-column: 1/2;
    grid-row: 1/2;
    align-self: flex-start;
    justify-self: center;
  }
  footer div:nth-child(2) {
    grid-column: 1/2;
    grid-row: 2/3;
    align-self: flex-start;
    justify-self: center;
  }
  footer div:nth-child(3) {
    grid-column: 1/2;
    grid-row: 3/4;
    align-self: flex-start;
    justify-self: center;
  }
  footer p:nth-child(4) {
    grid-column: 1/2;
    grid-row: 1/2;
    align-self: center;
    justify-self: center;
  }
  footer p:nth-child(5) {
    grid-column: 1/2;
    grid-row: 2/3;
    align-self: center;
    justify-self: center;
  }
  footer p:nth-child(6) {
    grid-column: 1/2;
    grid-row: 3/4;
    align-self: center;
    justify-self: center;
  }
  .mapa-ancho {
    width: 90%;
  }
  .prueba {
    font-size: 30px;
  }
}
@media only screen and (max-width: 500px) {
  .article1 {
    display: flex;
    flex-direction: column;
  }
  .parrafoMalvinas {
    font-size: 19px;
    padding: 10px;
  }
  .parrafoMalvinas2 {
    font-size: 19px;
    padding: 10px;
  }
  .p-container {
    font-size: 16px;
  }
  .pContainer {
    font-size: 16px;
    width: 45vh;
  }
}
@media only screen and (max-width: 400px) {
  .formulario {
    width: 300px;
  }
  .field {
    width: 280px;
  }
}

/*# sourceMappingURL=style.css.map */
