.pContainer3 {
	width: 50vw;
	border-right: 3px solid #41BBD9;
	border-bottom: 3px solid #41BBD9;
	border-radius: 15px;
	padding: 15px;
	font-size: 25px;
}
.h1-3 {
	text-align: center;
	text-decoration: underline;
	text-decoration-thickness: 4px;
	font-size: 69px;
	padding: auto;
	color: #64c7ee;
	text-shadow: 2px 1px black;
}
.h2-2 {
	text-align: left;
	text-decoration: underline;
	text-decoration-thickness: 4px;
	font-size: 40px;
	padding: auto;
	color: #eaff2b;
	text-shadow: 2px 1px black;
	margin-left: 10px;
	margin-top: 20px;
}
.sectionRYP {
	display: flex;
	margin-top: 30px;
	margin-bottom: 24px;
}
.div-img-RYP {
	width: 100%;
	height: 100%;
}
.img-RYP {
	height: 45vh;
	border-radius: 4%;
	border: 2px solid black;
}
.article4 {
	display: flex;
	gap: 15px;
}
.articulo4 {
	margin-left: 10px;
}
.imgRyP {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.imagen-cambiotamaño {
	width: 70%;
	height: 50%;
}
.img-RyPp {
	height: 71vh;
	border-radius: 4%;
	margin-left: 15px;
	border: 2px solid black;
}
.h3-under {
	text-decoration: underline;
	text-decoration-thickness: 4px;
	color: #5db4ca;
	padding: auto;
}
